<!DOCTYPE html>
<html lang="eng">
  <head>
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel='stylesheet' href='/app.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
  	
  <nav>
  	<div class="nav-wrapper">
  		<a href="/" class="brand-logo">
  			<img src="/public/img/logo.png" alt="logo">    
  		</a>

  		<a href="#" data-activates="mobile-menu" class="right button-collapse"><i class="material-icons">menu</i></a>

  		<ul class="right hide-on-med-and-down">
  			<li {{#is page "Music"}} class="active"{{/is}}><a href="/music">Music</a></li>
  			<li {{#is page "Videos"}} class="active"{{/is}}><a href="/videos">Videos</a></li>
  			<li {{#is page "Photos"}} class="active"{{/is}}><a href="/photos">Photos</a></li>
  			<li {{#is page "Contact"}} class="active"{{/is}}><a href="/contact">Contact Us</a></li>
  			{{#if user}}
  			<li {{#is page "Manager"}} class="active"{{/is}}><a href="/manager">Manager</a></li>
  			<li><a href="/logout">Logout</a></li>
  			{{/if}}	
  		</ul>

  		<ul class="side-nav" id="mobile-menu"> 
  			<li {{#is page "Music"}} class="active"{{/is}}><a href="/music">Music</a></li>
  			<li {{#is page "Videos"}} class="active"{{/is}}><a href="/videos">Videos</a></li>
  			<li {{#is page "Photos"}} class="active"{{/is}}><a href="/photos">Photos</a></li>
  			<li {{#is page "Contact"}} class="active"{{/is}}><a href="/contact">Contach Us</a></li>
  			{{#if user}}
  			<li {{#is page "Manager"}} class="active"{{/is}}><a href="/manager">Manager</a></li>
  			<li><a href="/logout">Logout</a></li>
  			{{/if}}	
  		</ul>

  	</div>
  </nav>

  <main>
  	{{{body}}}
  </main>

  <footer class="page-footer">
  	<div class="footer-copyright">
  		<div class="container">
  			© 2014 Copyright Text
  			<a class="grey-text text-lighten-4 right" href="#!">More Links</a>
  		</div>
  	</div>
  </footer>

  </body>

  <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/bower_components/materialize/dist/js/materialize.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <script type="text/javascript" src="/bower_components/toastr/toastr.min.js"></script>
  <script type="text/javascript" src="/app.min.js"></script>
  {{#if success_msg }}<script type="text/javascript"> toastr.success('{{success_msg}}'); </script> {{/if}}
  {{#if error_msg }}<script type="text/javascript"> toastr.error('{{error_msg}}'); </script> {{/if}}
  {{#if error }}<script type="text/javascript"> toastr.error('{{error}}'); </script> {{/if}}
  
</html>
